* {
	font-family: Roboto, sans-serif;
}

:root {
	--meteo-padding: 1.5rem;
}

body, html {
	margin: 0;
	padding: 0;
}


#meteo_btn {
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;
	padding: 1rem;
	cursor: pointer;
}


#meteo_week {
	position: fixed;
	bottom: -100%;

	background-color: white;
	z-index: 1;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 40vh;

	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	transition-duration: .6s;
	transition-timing-function: cubic-bezier(0.68, -0.05, 0.27, 1.05);

}

#meteo_week.show {
	bottom: 0;
}

/* ===== Partie gauche ===== */
#meteo_week > #today {
	flex: 4;
	display: flex;
	flex-direction: column;
	background-color: #eeeeee;
	padding: var(--meteo-padding) calc(var(--meteo-padding) + 10rem);
}

/* Jour courant */
#today > #current_day {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

#today > #current_day > h1 {
	margin: 0;
	font-size: 6rem;
}

#side_detail > h2 {
	font-size: 2rem;
	margin: 0;
}

/* Liste des jours */
#list_hour {
	display: flex;
	justify-content: space-between;
}

#list_hour > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#list_hour > div > p {
	margin: .5rem;
}

/* ===== Partie droite ===== */
#meteo_week > #week {
	margin: var(--meteo-padding) 0;
	padding: 0 var(--meteo-padding);
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	gap: .5rem;
	overflow: auto;
}

#meteo_week > #week > div {
	display: flex;
	gap: 1rem;
}

#meteo_week > #week > div > p:last-child {
	font-weight: bold;
}

#meteo_week > #week > div > p {
	margin: .5rem;
}

#meteo_week > #today > #list_hour > div > p:last-of-type {
	font-weight: bold;
}

#meteo_week > #today > #list_hour > div > img {
	width: 2rem;
}


/* Scrollbar */

* {
	--sb-track-color: #ffffff;
	--sb-thumb-color: #cecece;
	--sb-size: 8px;
}

*::-webkit-scrollbar {
	width: var(--sb-size)
}

*::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
	* {
		scrollbar-color: var(--sb-thumb-color)
		var(--sb-track-color);
	}
}

/* Mobile */
@media (max-width: 768px) {
	:root {
		--meteo-padding: .1rem;
	}

	#meteo_week {
		z-index: 3;
		flex-direction: column;
		height: auto;
		padding-bottom: 2rem;
	}

	#meteo_week > #today {
		padding: 1rem;
	}

	#meteo_week > #today > #list_hour {
		flex-wrap: wrap;
		gap: .5rem;
	}

	#meteo_week > #today > #current_day {
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}

	#meteo_week > #today > #current_day > h1, #side_detail > p {
		display: none;
	}

	#meteo_week > #today > #current_day > #side_detail {
		display: flex;
		gap: 1rem;
		padding-bottom: 1rem;
	}

	#meteo_week > #today > #list_hour > div {
		flex-direction: row;
		align-items: center;
	}

	#meteo_week > #today > #list_hour > div > img {
		width: 1.5rem;
	}

	#meteo_week > #week {
		padding: 1rem;
		flex-direction: row;
	}

	#meteo_week > #week > div {
		flex-direction: column;
		align-items: center;
		gap: 0;
	}
}