* {
    font-family: Roboto, sans-serif;
}

#map {
	height: 100vh;
	z-index: 0;
	position: relative;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
}

/* Création de restaurant */
.popup-display {
	z-index: 1;
	transition-duration: .6s;
	transition-timing-function: cubic-bezier(0.68, -0.05, 0.27, 1.05);
	background-color: white;

	position: absolute;
	top: 0;
	left: -1000%;
	height: 100vh;
	min-width: 25vw;
	width: fit-content;
}

.popup-display.show {
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	left: 100%;
}

.popup-display > img {
	aspect-ratio: 2/1;
	width: 100%;
	mask-image: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
	object-fit: cover;
}

.popup-display > *:not(img) {
	margin: 0 1.5rem .5rem;
}

.popup-restaurant-input {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.popup-restaurant-input > input {
	flex-grow: 1;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
	outline: none;
}

.popup-restaurant-input > button, #reservation-date > button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	transition-duration: .2s;
}

.popup-restaurant-input > label {
	flex-basis: 100%;
}

.popup-restaurant-input > button:hover, #reservation-date > button:hover, #reservation-date > button.selected {
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, .3));
	scale: 1.1;
}

.popup-restaurant-input > button:active, #reservation-date > button:active {
	scale: .98;
}

#reservation-date > button.selected {
	font-weight: bold;
}

.popup-display > .popup-restaurant-button {
	display: flex;
	gap: .5rem;
}

.popup-display > .popup-restaurant-button > button {
	flex-grow: 1;
	background-color: transparent;
	padding: .5rem 1rem;
	cursor: pointer;
	border: 2px solid black;
	transition-duration: .2s;
}

.popup-display > .popup-restaurant-button > button:first-child {
	border-radius: .5rem 0 0 .5rem;
	font-weight: bold;
}

.popup-display > .popup-restaurant-button > button:last-child {
	border-radius: 0 .5rem .5rem 0;
}

.popup-display > .popup-restaurant-button > button:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.popup-display > .popup-restaurant-button > button:active {
	transform: scale(.98);
}

.popup-display > input[type="checkbox"] {
	display: none;
}

.popup-display > label {
	display: flex;
	gap: .5rem;
	cursor: pointer;
}

.popup-display > label > i {
	transition-duration: .3s;
	height: 20px;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}

.popup-display > input:checked + label > i {
	rotate: 90deg;
}

.popup-display > #horaires {

	max-height: 0;
	overflow: hidden;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.68, -0.05, 0.27, 1.05);
}

.popup-display > #horaires > p {
	margin: 0;
}

.popup-display > input:checked ~ #horaires {
	max-height: 500px;
}

/* Reservation */
#reservation-date {
	padding: 1rem 0;
	display: grid;
	grid-template-columns: auto repeat(4, 1fr) auto;
}

#reservation-date > p {
	margin: 0;
	text-align: center;
}

#reservation-restaurant {
	max-height: 0;
	overflow: hidden;
	transition-duration: .2s;
}

#reservation-restaurant > .popup-restaurant-input {
	margin-bottom: .5rem;
}


/* Barre de selection de l'affichage*/
#controls {
    position: relative;
    top: 0;
    left: 0;
	height: calc(100% - 2rem);
    z-index: 1;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition-duration: .6s;
}

.popup-display.show + #controls {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

#controls > div.hide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#controls > div > input {
    display: none;
}

#controls > div > label {
    margin: .5rem 0;
	cursor: pointer;
}

#controls > div.hide > label > span {
    display: none;
}

#controls > div > label > span {
    font-weight: bold;
	transition-duration: .3s;
}

#controls > div > label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

#controls > div > label > img {
    height: 2rem;
    transition-duration: .3s;
    transition-property: filter;
}

/* Gestion des couleurs et du hover */
#controls > div > label:hover > * {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .3));
}

#controls > div > input:checked + label.red > * {
    filter: brightness(0) saturate(100%) invert(31%) sepia(53%) saturate(1488%) hue-rotate(319deg) brightness(85%) contrast(92%) drop-shadow(0 0 10px rgba(0, 0, 0, .3));
}

#controls > div > input:checked + label.green > * {
    filter: brightness(0) saturate(100%) invert(50%) sepia(91%) saturate(342%) hue-rotate(57deg) brightness(98%) contrast(82%) drop-shadow(0 0 10px rgba(0, 0, 0, .3));
}

#controls > div > input:checked + label.blue > * {
    filter: brightness(0) saturate(100%) invert(44%) sepia(82%) saturate(399%) hue-rotate(178deg) brightness(90%) contrast(86%) drop-shadow(0 0 10px rgba(0, 0, 0, .3));
}

#controls > div > input:checked + label.yellow > * {
    filter: brightness(0) saturate(100%) invert(93%) sepia(79%) saturate(616%) hue-rotate(355deg) brightness(80%) contrast(92%) drop-shadow(0 0 10px rgba(0, 0, 0, .3));
}

#controls > div > input:checked + label.grey > * {
    filter: opacity(50%) drop-shadow(0 0 10px rgba(0, 0, 0, .3));
}

#creation-restaurant {
    transition-duration: .3s;
    max-height: 0;
}

/* Mobile */
@media (max-width: 768px) {
	.popup-display {
		z-index: 2;
		left: -100vw;
		width: 100vw;
		opacity: .9;
	}

	.popup-display.show {
		left: 0;
	}

	#sidebar {
		position: absolute;
		z-index: auto;
	}

	#controls {
		z-index: 4;
		position: fixed;
		bottom: 0;
		left: 0;
		top: auto;
		padding: .5rem;
		width: calc(100% - 1rem);
		height: fit-content;
		gap: 0;

		flex-direction: row;
		justify-content: space-around;
	}

	#controls > div > label > img {
		height: 1.5rem;
	}
}