#map {
    height: 690px; /* Définir une hauteur pour le conteneur de la carte */
}

#modal {
     display: none; /* Cache la modale par défaut */
     position: fixed; /* La positionne en haut de l'écran */
     z-index: 1000; /* La met au-dessus du contenu */
     left: 10%;
     top: 10%;
     width: 80%;
     height: 80%;
     overflow: auto; /* Ajoute un défilement si nécessaire */
     background-color: #fff; /* Fond blanc */
     border: thick solid #7FD8BE; /* Bordure avec couleur personnalisée */
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
     border-radius: 8px;
 }

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

thead {
    background-color: #7FD8BE;
    color: white;
}

tbody {
    background-color: #f2f2f2;
}

#autre {
    background-color: #FFFFFF;
}